.header-wrapper{
position: absolute;
width: 100%;
z-index: 2;
@media screen and (max-width: 991px) {
   display: none;
}

    

.menu{
    ul{
        li {
            a{
                color: #FFF;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-align: center;
                padding-right: 50px;

            }
        }
    }
}
}