@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
	font-family: "Open Sans", sans-serif;
	
}
h1 {
	font-family: "Lora", serif;
}
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lora', serif;
}
.container {
	max-width: 1620px !important;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #ff6d25;
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 29px;
}
.Header {
    position: absolute;
    width: 100%;
}
.Hero-bottom{
	margin-top: -25px;
}
.title-button-wrapper{
	gap: 20px;
	align-items: center;
}
.title-button-wrapper h1{
	color: #153333;
font-family: Lora;
font-size: 63px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.26px;
}
.title-button-wrapper p{
	color: rgba(0, 0, 0, 0.70);
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px; /* 161.111% */
}
.btn-cs-btn {
	border-radius: 8 px;
	background: #fff;
	color: #000;
}

button.play-button {
    border: none;
    color: #fff;
    width: 102px;
    height: 102px;
    left: 0px;
    top: -11%;
	right: 0px;
	bottom:0px;
	text-align: center;
	margin: auto;
    position: absolute;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 9999px;
    border: 1px white solid;
    backdrop-filter: blur(20px);
	font-size: 30px;
}
@media only screen and (max-width: 767px){
	button.play-button{
		top: -38%;
	}
}
.btn-cs-btn:hover {
	color: #000;
	background: #fff;
}
ul.table-ul a {
	color: #000 !important;;
	font-size: 20px;
	font-family: Inter;
	font-weight: 400;
	line-height: 38px;
	
	}

.navbar-nav {
	background: transparent;
	margin: 0 auto;
}
#navbarNav .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.80);          ;
	/* Menu */
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
}
#navbarNav .active .nav-link {
	color: #fff;

	/* Menu */
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
}
.Hero__section {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 781px;
	
	
}
.Hero__section:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: -1;
}


.hero-content{
	max-width: 800px;
}
.Hero__section .hero-content p{
	color: #FFF;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px; /* 145% */
}
.Hero__section .hero-content h1 {
	color:#fff;
	font-family: Lora;
	font-size: 90px;
	font-style: normal;
	font-weight: 600;
	line-height: 151px;
	margin-bottom: 20px;
	margin-top: 100px;
	margin-bottom: 50px;
}
.branding-wrapper{
	position: relative;
	background: #FFF;
box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.10);

flex-shrink: 0;
z-index: 10;
padding: 34px;
height: 304px;

}
.meta-box{
	background: #F5F5F5;
	padding: 20px;
	margin-top:50px;

}
.meta-box p{
	color: rgba(0, 0, 0, 0.70);
font-size: 18px;
font-family: Open Sans;
font-weight: 400;
line-height: 29px;
word-wrap: break-word
}

.meta-flex{
	display: flex;
	gap: 50px;
}
span.author__name {
    font-size: 31px;
    font-weight: 700;
}
.published {
    margin: 10px 0px;
}
.author-content-wrapper ul li {
	color: rgba(0, 0, 0, 0.7);
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
}
.author-name{
	color: #FF6D25;
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 29px; /* 161.111% */
	margin-top: 20px;
}
.author-text{
	color: #FF6D25;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 29px; /* 161.111% */
}
.author-flex {
	display: flex;
	gap: 20px;
	margin-top: 10px;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
.author-flex span {
	color: rgba(0, 0, 0, 0.6);
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 29px;
}
.author-flex {
	margin-bottom: 20px;
}
.social_links li {
	margin-bottom: 10px;
}
.social_links li i.fa {
	color: #ff6d25;
	margin-right: 7px;
}
.social_links li a {
	color: rgba(255, 255, 255, 0.5);
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px; /* 88.889% */
}
.shareit {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 26px;
	color: #fff;
}

.shareit   a {
    color: #fff !important;
}
.social_links li {
	margin-bottom: 10px;
}
.author-block {
   text-align:left;
}
.published {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 0;
    text-align: left;
}
p.auth-descs {
    text-align: left;
}
span.author__name{
	// Angel Cruz
color: black;
font-size: 40px;
font-family: Inter;
font-weight: 600;
word-wrap: break-word;
}
.social_links li i.fa {
	color: #ff6d25;
	margin-right: 7px;
	background: #0000001A;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
}
.social_links{justify-content: start;}
.social_links li a {
	color: rgba(255, 255, 255, 0.5);
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px; /* 88.889% */
}
.social_links li a:hover i.fa {
	background: #000;
	color: #fff;
}
.btn-cs-btncs{
	background: #FF6D25;
	border-radius: 8px;
	color: #FFF;
}
.btn-cs-btncs:hover{
	background: #fff !important;
	color: #fff !important;
}
.branding-wrapper h3{
	color: #FF6D25;
	font-family: Open Sans;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;	
	text-align: left;
}
.branding-wrapper .branding-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
	grid-gap: 30px;
}
.branding-grid img{
	width: 100px;
}
div#navbarNav {
	margin-top: 10px;
}
.navbar-brand{
	color: #fff !important;
}
div#navbarNav ul li a {
	padding: 20px;
	color: #fff;
}
.hero-content img {
	max-width: 100%;
}
.Hero__section .hero-content h1 span {
	color: #ff6d25;
	font-family: Lora;
	font-size: 90px;
	font-style: normal;
	font-weight: 600;
	line-height: 110px;
}
.Hero__section .hero-content h1 a {
	background: #fff;
	display: inline-block;
	color: #000;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 80% */
	letter-spacing: -0.6px;
	padding: 15px 20px;
}
.services_area {
	background: #fff;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 80px 0;
}
.section-heading {
	margin-bottom: 100px;
}
.section-heading h2 {
	color: #000;
	text-align: center;
	font-family: Open Sans;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.service-item {
	border-radius: 43px;
	background: #e5e5e5;
	width: 370px;
	height: 298px;
	flex-shrink: 0;
	margin: 0 auto;
}
.service-item:hover {
	background: #000;
}
.service-item:hover .service-content h4 {
	color: #fff;
}
.service-item:hover .service-content p {
	color: rgba(255, 255, 255, 0.7);
}

.service-content h4 {
	color: #000;
	text-align: center;
	font-family: Open Sans;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.service-number {
	display: flex;
	/* background: yellow; */
	/* display: inline-block; */
	justify-content: center;
	align-items: center;
	position: relative;
	top: -50px;
}

.service-number span {
	width: 110px;
	height: 110px;
	background: #ff6d25;
	/* line-height: 110px; */
	/* text-align: center; */
	border-radius: 50%;
	color: #fff;
	text-align: center;
	font-family: Open Sans;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border: 1px solid #fff;
	align-items: center;
	display: flex;
	justify-content: center;
}
.service-content p {
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.service-item:hover .service-number span {
	border: 1px solid #000;
}
.delivery_area {
	background: #e5e5e5;
	padding: 100px 0;
}
.contact-form h3{
	color: #153333;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 30px;
}

.location {
	margin-bottom: 50px;
}
.portalbe__toillet {
	background: #fff;
	padding: 100px 0;
}

.contact-form{
	border-radius: 4px;
	background: rgba(21, 51, 51, 0.10);
	padding: 20px;

}
.contact-form .mb-3{
	margin-bottom: 27px !important;
}
.form-label{color: rgba(0, 0, 0, 0.90);
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;}
.contact-btn{
	border-radius: 12px;
	background: #153333;
width: 100%;
color: #fff;
color: #FFF;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.contact-btn:hover{
	border: 1px solid #153333;
}
.portable-porta{
	height: 413px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.portable-porta:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: -1;
}
.hero-btn{
	border-radius: 8px;
	background: #FF6D25;
	color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: -0.4px;
padding: 15px 20px;

}
.contact-us{
	background: #fff;
	padding-top: 20px;
	padding-bottom: 100px;
}
.divider{
width: 107px;
height: 2px;
background: #153333;
margin-bottom: 30px;
}
.google-map-location{
	background: url(<path-to-image>), lightgray -4.362px 0px / 116.612% 100% no-repeat;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}
.portiable-content h1{
	color: #FFF;
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
p.auth-desc {
    font-weight: 700;
}
p.auth-desc {
    font-weight: 500;
	background: #E8D9D2;
	padding: 10px;
	border-radius: 8px;
}
.rental-service-items-wrapper{
	background: #E8EBEB;
	padding: 100px 0px;
}
.service-item-img img{
	max-width: 100%;
}
.portiable-content a:hover{
	color: #000 !important;
}
.restroom-trailer-wrapper h2{
	color: #153333;
font-family: Lora;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.8px;
}
.restroom-trailer-wrapper h3{
	color: #000;
font-family: Open Sans;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.version-3-ul{
	list-style: list;
	list-style-type: circle;
}
.service-item-content {
	background: #fff;
	padding: 20px;
}
.section-title h3{
	color: #153333;
text-align: center;
font-family: Lora;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.get__in__touch li a{
	color: rgba(255, 255, 255, 0.50);
font-size: 18px;
font-family: Inter;
font-weight: 400;
line-height: 16px; 
}
footer {
	background: #1B1B1B;
	padding-top: 50px;
}

.Mobile-menu-wrapper {
	display: none;
	width: 0%;
}
.menushow {
	display: block !important;
	background: #fff;
	position: absolute;
	width: 70%;
	text-align: center;
	top: 10px;
	height: 100vh;
	transition: all 0.5s ease-in-out;
	z-index:30;
}
.footer-contact-des{
	line-height: 30px;
}
#menuClose {
	color: #FAC429;
	font-size: 30px;
	text-align: right;
	border: none;
	background: none;
	float: right;
	margin-right: 20px;
}
.widgets p {
	color: rgba(255, 255, 255, 0.7);
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 137.5% */
}
.footer_logo {
	margin-bottom: 30px;
}
.footer-wrapper h5 {
	color: #fff;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 20px;
}
.footer_contact li {
	color: rgba(255, 255, 255, 0.9);
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px; /* 88.889% */
	margin-bottom: 15px;
}
.footer_contact li span {
	display: block;
	margin-top: 15px;
}
.footer_contact li i.fa {
	color: #ff6d25;
	marign-right: 10px;
}
.footer_contact li a {
	color: #fff;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 88.889% */
}
.pages_nav li {
	margin-bottom: 5px;
}
.pages_nav li a {
	color: rgba(255, 255, 255, 0.70);
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 31px;
}
.social_links li {
	margin-bottom: 10px;
}
.social_links li i.fa {
	color: #000;
	margin-right: 7px;
}
.social_links li a {
	color: #000;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px; /* 88.889% */
}
.copywrite_text {
	color: rgba(255, 255, 255, 0.5);
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.footer__menu li a {
	color: rgba(255, 255, 255, 0.7);
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 88.889% */
}
.hero-bottom-btn{
	width: 176px;
height: 60px;
flex-shrink: 0;
border-radius: 8px;
background: #153333;
color: #FFF;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}


/*Large screen*/
@media only screen and (min-width: 1370px) {
	.Hero__section .hero-content h1 {
		font-size: 90px;
		line-height: 110px;
	}
}

/* Tablet Layout waid */
@media only screen and (min-width: 992px) and (max-width: 1370px) {
	.Hero__section .hero-content {
		text-align: center;
	}
	.Hero__section .hero-content h1 {
		font-size: 40px;
	}
	.Hero__section .hero-content h1 span {
		font-size: 40px;
	}
	.Hero__section {
		margin-top: -34px;
	}
	.Hero__section .hero-content h1{
		line-height: 50px;
	}
	.branding-wrapper{
		bottom: -134px;
	}
	.title-button-wrapper h1{
		font-size: 40px;
	}
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (max-width: 991px) {

	.Hero__section .hero-content {
		text-align: center;
	}
	.Hero__section .hero-content h1 {
		font-size: 40px;
	}
	.Hero__section .hero-content h1 span {
		font-size: 40px;
	}
	.navbar-toggler-icon {
		background: none;
		color: #000;
		font-size: 30px;
	}
	.mobileMenu {
		display: block;
	}
	[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){color:#fff;border-color:#fff;}
	.Hero__section .hero-content h1 {
		line-height: 30px;
	}
	.Hero__section .hero-content h1 span {
		line-height: 70px;
	}
	.desk {
		display: none;
	}
	a.btn.btn-cs-btn.ml-2.mobile {
		/* margin-left: 41px; */
		position: relative;
		left: 19px;
	}
	.branding-wrapper{
		top:50px;
	}
	.title-button-wrapper h1{
		font-size: 40px;
	}
}
@media only screen and (max-width: 767px) {
	.section-heading h2 {
		color: #000;
		text-align: center;
		font-family: Open Sans;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.button.play-button{top:-38% !important;}
	.author-content-wrapper h2 {
		font-size: 28px;
		margin: 20px 0px;
	}
	.footer-wrapper {
		text-align: center;
	}
	.title-button-wrapper h1{
		font-size: 32px;
	}
	.Hero__section{
		height: 350px;
	}
	.title-button-wrapper{
		display: block !important;
		margin-bottom: 20px;
	}
	.restroom-trailer-wrapper h2{
		font-size: 24px;
	}
	.restroom-trailer-wrapper h3 {
		font-size: 20px;
	}
}
/* small scren*/
@media only screen and (max-width: 500px) {
}

@media only screen and (max-width: 400px) {
}
.footer__social__links li a{
	color: rgba(255, 255, 255, 0.50);
	font-size: 18px;
	font-family: Inter;
	font-weight: 500;
	line-height: 16px;
}.footer__social__links li i.fa{
	color:#fff;
}
.footer_logo a{
	color: white;
font-size: 30px;
font-family: Inter;
font-weight: 600;
margin-bottom: 20px;
}
.author-flex {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0px;
}
button.share-btn {
    border: none;
    background: #000;
    color: #fff;
    padding: 10px 20px;
}
.restroom-trailer-wrapper {
    margin-top: -134px;
    background: #fff;
    padding: 30px;
}
.navbar-toggler{
	color: #fff;
	border: none;
}
.navbar-toggler i.fa{
	color:#fff;
}
.author-data span{
	font-size:32px !important;
}
@media only screen and (max-width: 767px){

	.author-data span{
		font-size:24px !important;
	}
}

@media only screen and (max-width: 1200px){
	.restroom-trailer-wrapper{
		margin-top: 0px;
	}
}