.faq-item {
	fill: rgba(255, 255, 255, 0.05);
	stroke-width: 1px;
	background-color: rgba(255, 255, 255, 0.014);
	backdrop-filter: blur(10px);
	h3 {
		color: #fff;
		font-family: Inter;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	.faq-des {
		color: rgba(255, 255, 255, 0.7);
		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 30px; /* 187.5% */
	}
}
